/* GENERAL STYLING*/
h3{
font-size:18px;
font-weight: 400;
}


h2{
font-size: 32px;
font-weight: 400;
color: #8B0000;
text-transform: uppercase;
}


p{
font-size: 14px;}


/* HOME SECTİON*/

.navbar{
border-bottom: #8B0000 1px solid;
}

.navbar .navbar-brand{
color: #8B0000 ;
font-size: 24 px;
}
.bg-dar{
background-color:rgba(0,0,0,.1) !important;
}
.nav-link{
color: white !important;
text-transform: uppercase
transition:color .5s red;
}
.nav-link:hover{
color: #8B0000 !important;

}
#headerSection{
    background:url('../images/bg.jpg.jpg') no-repeat center center fixed;
background-size:cover;
height:100vh;
}
#headerSection .overlay{
background-color: :rgba(0,0,0,.7);
}
#headerSection .row{
height:100vh;
}

#headerSection span{
color: white !important;
} 
.btn-danger{
padding-left:30px;
padding-right: 30px;
border-radius:0;
cursor:pointer;
}
/* FEATURES SECTİON*/
#features.fa{
font-size: 40px;
}


.feature-top{
transition: color.5sn ease;
}


.feature-top:hover{
color:#8B0000;
cursor:pointer;
}



/*HISTORY SECTİON*/
#ourHistory h2{
border-left: 6px solid #8B0000;
padding-left: 30px;
}

#ourHistory .col-md-6{
display: inline;
}

#ourHistory .btn-danger{
position: absolute;
bottom: 0;
}
#ourHistory p{
line-height: 28px;
}


/* TEAM SECTİON*/


#team .card{
border:none;
opacity:0.5;
cursor: pointer;
transition:all 0.5sn ease;

}
#team .card:hover{
opacity:1;
}
#team .fa{
font-size: 24px;
}
/* WHAT WE DO SECTİON*/
 #whatWeDo{
background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/code.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }
/* CASE STUDY SECTİON*/
#caseStudy{
background-color:#f4f5f9; 
line-height: 28px;
}
.caseArea{
background-color: #fff;
margin-top: 40px;
margin-right:-40px;
z-index: 100;
padding: 40px;
position: relative;
min-height: 420px;
}
#caseStudy h3 {
font-size: 18px;
margin-top: 40px;
margin-bottom: 40px;
color:#8B0000
}
#caseStudy .fa{
font-size: 40px;
color: #8B0000;
}

.caseImage  {
margin-left: 40px;
}

/* PORTFOLİO SECTİON*/

#portfolio .col-md-3{
padding-left:0;
padding-right: 0;
text-align: center;
}
portfolio h4{
font-size: 16px;
font-weight: 300;
}

#portfolio .fa{
font-size: 24px;
margin-bottom: 20px;
}
#portfolio p{
font-size: 14px;
font-weight: 300;
}
.imageContainer{
position: relative;
cursor: pointer;

}
imageOverlay{
position: absolute;;
top:0;
bottom: 0;
right: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #8B0000;
opacity: 0;
transition: :1s ease;

}
.imageContainer:hover .imageOverlay{
opacity: .7;
}
.imageText{
color: white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

}